# ---> Vue
# gitignore template for Vue.js projects
#
# Recommended template: Node.gitignore

# where does this rule come from?
docs/_book

# where does this rule come from?
test/
node_modules
pnpm-lock.yaml
package-lock.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dist
dist
dist-ssr
*.local
stereoscopic

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*